@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

h1 {
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    width: 60%;
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

p {
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
    height: auto;
    display: inline-table;
    text-align: center;
    flex-direction: column;
}

.conteudo-principal {
    font-family: "League Spartan", sans-serif;
    display: flex;
    justify-content: center;
    text-align: start;
    flex-direction: column;
    gap: 2rem;
    width: 40%;
}

section {
    font-family: "League Spartan", sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

.conteudo-secundario {
    font-family: "League Spartan", sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 1rem;
    margin: 0.5rem;
}

.conteudo-secundario p {
    font-family: "League Spartan", sans-serif;
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    margin: 0;
    color: #541c54;
}

.foto-icone {
    background-color:#f5f2f8;
    border-radius: 10px;
    display: flex;
    text-align: center;
    align-items:center;
    flex-direction: row;
    gap: 6px;
    width: 90%;
    height: 50%;
    padding: 1rem;
}

.conteudo-direito {
    font-family: "League Spartan", sans-serif;
    display: flex;
    flex-direction: column;
    height: 40%;
    margin-top: 5%;
}

.margin-01 {

}
.margin-02 {
    margin-left: 60px;
}
.margin-03 {
    margin-left: 120px;
}

img {
    border-radius: 50%;
}

.apresentacao {
    font-family: "League Spartan", sans-serif;
    padding: 5%;
    margin: 0;
    gap: 2rem;
    display: flex;
    color: white;
}

.feedback {
    font-family: "League Spartan", sans-serif;
    background-color:#541c54;
    border-radius: 10px;
    height: 200px;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 1.1rem;
}

.ajuste-img-nome p {
    font-size: 16px;
    margin: 2px;
}

.ajuste-img-nome {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    margin-right: 10%;
    width: 100%;
}

.ajuste-nome {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    margin-right: 25%;

}

.ajuste-img {
    width: 40%;
}

.margin-02-top {
    margin-top: 30px;
}

.margin-03-top {
    margin-top: 50px;
}
